#main-setting-user {
    display: none;
    z-index: 10000;
}
.user_header {
    display: flex;
    justify-content: space-between;
}
.user_header i {
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    border: solid 1px #ccc;
    font-size: 20px;
}
.user_content {
    text-align: center;
}
.user_content img {
    border-radius: 50%;
}
.user_content p {
    opacity: 0.8;
}
#user_nav {
    display: flex;
    justify-content: space-around;
    border-bottom: #ccc solid 1px;
    border-top: #ccc solid 1px;
}
.user_scorse {
    padding: 10px;
}
.user_list h3 {
    padding: 20px;
}
.user_signOut {
    display: none;
}
.user_signOut form {
    display: flex;
    flex-direction: column;
}
#out {
    margin-top: 100px;
    text-align: center;
}
#out button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}