#header {
    position: relative;
}
.main_header_start {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_header_start img {
    position: absolute;
    width: 100%;
}
#start {
     padding: 30px;
    font-size: 20px;
    color: rgb(173, 173, 173); 
    position: absolute;
    top: 300px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.5);
     background-color: #16313a;
}
#start:hover {
    opacity: 0.7;
    cursor: pointer;
    color:rgb(0, 137, 149);
}
.title_start {
    position: absolute;
    font-size: 50px;
    color: #16313a;
    display: inline-block;
    margin-top: 100px;
}
#form1 {
    position: fixed;
    right: 42% ;
    top: 170px;
    padding: 40px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    animation: slideForm 1.5s ease;
    display: none;
    z-index: 2;
}
.header_form {
    text-align: center;
}
.header_form h2 {
    margin: 0px 20px 70px 10px;
    color: rgb(8, 0, 80);
}

.body_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body_form p {
    font-size: 20px;
}
.body_form input{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(0, 69, 97);
    border-radius: 10px;
}
.body_form button {
    padding: 10px 40px;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, rgb(0, 190, 204) , rgb(0, 219, 128));

}
.body_form button:hover {
    cursor: pointer;
    opacity: 0.5;
}
@keyframes slideForm {
    0%   {transform: translateY(-200px);}
    50%  {transform: translateY(20px);}
    100% {transform: translateY(0);}
}
/* /* /////////////////////////////////// *
form Đăng ký */
#form2 {
    position: fixed;
    right: 42% ;
    top: 170px;
    padding: 40px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    animation: slideForm 1.5s ease;
    display: none;
    z-index: 2;
}
.main_header {
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1;
}
.main_header ul {
    display: flex;
}
.main_header li {
    list-style-type: none;
    font-size: 20px;
    padding: 4px 20px;
    margin: 10px 50px 1px 30px;
    border-right: 1px solid #333;  


}
.main_header li:hover {
    cursor: pointer;
    opacity: 0.5;
}
#search {
    font-size: 17px;
    padding: 10px;
    border-radius: 20px;
    margin: 5px 40px 10px 10px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
}
.content {
    position: relative;
} 
.content img {
    position: absolute;
    margin-top: 50px;
}
.content h1{
    position: absolute;
    top: 220px;
    left: 300px;
    z-index: 1;
    font-size: 50px;
}
.content button{
    position: absolute;
    top: 400px;
    left: 300px;
    font-size: 40px;
    padding: 20px 30px;
    background-image: linear-gradient(to right, rgb(0, 190, 204) , rgb(0, 219, 128));
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
}
.content button:hover {
    cursor: pointer;
    opacity: 0.7;
}